@import "tailwindcss";

@theme {
  --color-bg: #f8f1e7;
  --color-bg2: #eee1d1;
  --color-ink: #332a20;
  --color-muted: #7a695a;
  --color-line: #e0d2be;
  --color-wood: #a4634a;
  --color-onwood: #fcf6ee;

  --breakpoint-xs: 450px;
}

@theme inline {
  --font-serif: var(--font-newsreader);
  --font-sans: var(--font-karla);
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
